<div class="jumbotron">
  <h2>Contacts</h2>

  <table class="table responsible-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.id  %></td>
          <td><%= contact.name %></td>
          <td><%= contact.phone %></td>
          <td><a href="contacts/<%= contact.id %>" class="btn btn-info">Show</a></td>
          <td><a href="contacts/<%= contact.id %>/edit" class="btn btn-warning">Edit</a></td>
          <td><a href="contacts/<%= contact.id %>" class="btn btn-danger">Destroy</a></td>
        </tr>
      <% end  %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Contact', new_contact_path, class:"btn btn-primary" %>

</div>
